<div class="mt-5 container">
  <div class="row">
    <!-- Form controls -->
    <div class="col-md-6">
      <div class="card mb-4">
        <h5 class="card-header">Add Category</h5>
        <div class="card-body">
          <form action="/admin/add-category/" method="post" enctype="multipart/form-data">
            <div class="mb-3">
              <label class="form-label">Category</label>
              <input type="text" class="form-control" name="category" required/>
            </div>
            <div>
              <label class="form-label">Description
              </label>
              <textarea class="form-control" name="description" rows="3"></textarea>
            </div>
            <div class="mb-3">
              <label class="form-label mt-4">Category Image</label>
              <input class="form-control" type="file" id="imgView" name="Image" onchange="viewImage(event)"
                value="{{category.Image}}" required/>
            </div>

            <div class="mt-5"><button type="submit" class="btn btn-outline-success">Submit</button></div>
            {{#if msg}}
            <h4 class="text-warning">{{msg}}</h4>
            {{/if}}
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <!-- Hoverable Table rows -->
      <div class="card mb-4">
        <span>
          <h4 class="card-header text-center">Image</h4>
        </span>

        <div class="table-responsive m-5 d-flex">
          <div class="row mt-3">
            <img src="/category-images/{{category._id}}.jpg" id="imgChange" style="width: 370px;height: auto">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<script>
  function viewImage(event) {
    document.getElementById('imgChange').src = URL.createObjectURL(event.target.files[0])
  }
</script>