<div class="mt-5 container">
  <div class="row">
    {{#if add}}
    <div class="alert alert-success alert-dismissible" role="alert">
      Product Added Succesfully
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}
    <!-- Form controls -->
    <div class="col-md-6">
      <div class="card mb-4">
        <h5 class="card-header">Add product</h5>
        <div class="card-body">
          <form action="/admin/add-product" method="post" enctype="multipart/form-data">
            <div class="mb-3">

              <label class="form-label">Product
                Code</label>
              <input type="text" class="form-control" name="productID" required />
            </div>
            <div class="mb-3">

              <label class="form-label">Stock Quantity</label>
              <input type="text" class="form-control" name="stock" required />
            </div>

            <div class="mb-3">
              <label class="form-label">Product
                Name</label>
              <input type="text" class="form-control" name="productName" required />
            </div>
            <div class="mb-3">
              <label class="form-label">Choose Category</label>
              <select class="form-select" name="category" aria-label="Default select example" required>
                {{!-- <option selected>Open this select menu</option> --}}
                {{#each category}}
                <option value={{this.category}}>{{this.category}}</option>
                {{/each}}
              </select>
            </div>
            <div class="row">
              <div class="col">
                <label class="form-label">Market Price</label>
                <input type="text" class="form-control" name="marketPrice" required />
              </div>
              <div class="col">
                <label class="form-label">Discount in %</label>
                <input type="text" class="form-control" name="percentage" id="percentage" onkeyup="lessThanHundread()" required />
                <p id="percentage-err" class="text-danger"></p>
              </div>
            </div>
            <div class="mb-3">

              <label class="form-label">Description</label>
              {{!-- <input type="text" class="form-control" name="description" required /> --}}
              <textarea class="form-control" name="description" rows="4" cols="50" required></textarea>
            </div>
            <div class="mb-3">
              <label class="form-label mt-4">Product Images*</label>
              <input class="form-control" accept="jpg" type="file" name="Image" onchange="viewImage1(event)" multiple/>
              <p class="text-muted mb-0">JPG files Only, Max size of 1800K</p>
                                
            </div>
            <div class="mt-5 div">
              <button type="submit" class="btn btn-outline-success" id="addSub" value="Upload">Submit</button>
            </div>

          </form>

        </div>

      </div>
    </div>
    <div class="col-md-6">
      <!-- Hoverable Table rows -->
      <div class="card mb-4">
        <span>
          <h4 class="card-header text-center">Product Images</h4>
        </span>

        <div class="table-responsive m-5 d-flex">
          <div class="row mt-3">
            <p>1.</p>
            <img src="/product-images/{{product._id}}.jpg" style="width: 200px;height: auto" id="imgView">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function viewImage1(event) {
    document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
  }
  function viewImage2(event) {
    document.getElementById('imgView1').src = URL.createObjectURL(event.target.files[1])
  }
  function viewImage3(event) {
    document.getElementById('imgView2').src = URL.createObjectURL(event.target.files[2])
  }
</script>