<div class="container">
    <!-- Hoverable Table rows -->
    <div class="mt-5 card">
        <span>
            <h5 class="card-header">Banner Management</h5>
        </span>

        <form class="" method="post" action="/admin/add-banner" enctype="multipart/form-data">


            <div class="row">
                <div class="col mb-3">
                    <label for="nameBackdrop" class="form-label">Two Images</label>
                    <input type="file" class="form-control" name="Image" />
                    <input type="file" class="form-control" name="Image" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>





        </form>
    </div>
    <!--/ Hoverable Table rows -->
</div>