



<!-- Error -->
    <div class="container-xxl container-p-y">
      <div class="misc-wrapper">
        <h2 class="mb-2 mx-2">Page Not Found :{{error.status}}(</h2>
        <p class="mb-4 mx-2">{{message}}.</p>
        <a href="/" class="btn btn-primary">Back to home</a>
        <pre>{{error.stack}}</pre>
        <div class="mt-3">
          <img
            src="../admassets/img/illustrations/page-misc-error-light.png"
            alt="page-misc-error-light"
            width="500"
            class="img-fluid"
            data-app-dark-img="illustrations/page-misc-error-dark.png"
            data-app-light-img="illustrations/page-misc-error-light.png"
          />
        </div>
      </div>
    </div>
    <!-- /Error -->