<section class="vh-100" style="background-color: #8c9eff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-stepper text-black" style="border-radius: 16px;">

                    <div class="card-body p-5">

                        <div class="d-flex justify-content-between align-items-center mb-5">
                            <div>
                                <h5 class="mb-0">INVOICE <span class="text-primary font-weight-bold">#Y34XDHR</span>
                                </h5>
                            </div>
                            <div class="text-end">
                                <p class="mb-0">Expected Arrival <span>01/11/22</span></p>
                                <p class="mb-0">USPS <span class="font-weight-bold">234094567242423422898</span></p>
                            </div>

                        </div>
                        <div class="text-center">
                            <h2 class="text-success font-weight-bold">Order Placed Succesfully.........</h2>
                        </div>
                        <div class="text-center mt-3">
                            <h4>
                                <a class="link-secondary" href="/get-order" >Show Order Details</a>
                            </h4>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
    </div>
</section>
<style>
    a:hover {
  color: red;
}
</style>