<div class="container my-5">
    <div class="ui middle aligned center aligned grid">
        <div class="ui eight wide column">

            <form class="ui large form">

                <div class="ui icon negative message">
                    <i class="warning icon"></i>
                    <div class="content">
                        <div class="header">
                            <h2>Payment Failed .....! Try again later</h2>Oops! Something went wrong.
                        </div>
                        <p>While trying to reserve money from your account</p>
                    </div>
                    <div><a class="btn btn-outline-danger" href="/">Back to Home</a></div>
                </div>

                <span class="ui large teal submit fluid button">Try again</span>

            </form>
        </div>
    </div>
</div>
<style>
    @import url(https://fonts.googleapis.com/css?family=Raleway:400,700,600);

    .container {
        padding: 20px;
    }

    body {

        font-family: 'Raleway', sans-serif;
    }

    .teal {
        background-color: #ffc952;
        color: #444444 !important;
    }

    .message {
        text-align: left;
    }

    .price1 {
        font-size: 40px;
        font-weight: 200;
        display: block;
        text-align: center;
    }

    .ui.message p {
        margin: 5px;
    }
</style>