<!DOCTYPE html>

<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default"
  data-assets-path="../admassets/" data-template="vertical-menu-template-free">

<head>
  <meta charset="utf-8" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

  <title>Dashboard</title>

  <meta name="description" content="" />

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="../admassets/img/favicon/favicon.ico" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet" />

  <!-- Icons. Uncomment required icon fonts -->
  <link rel="stylesheet" href="../admassets/vendor/fonts/boxicons.css" />

  {{!-- custom css --}}
  <link rel="stylesheet" href="../admassets/custom.css" />

  <!-- Core CSS -->
  <link rel="stylesheet" href="../admassets/vendor/css/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="../admassets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="../admassets/css/demo.css" />

  <!-- Vendors CSS -->
  <link rel="stylesheet" href="../admassets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />

  <link rel="stylesheet" href="../admassets/vendor/libs/apex-charts/apex-charts.css" />
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  <!-- Page CSS -->
  <link rel="stylesheet" href="../admassets/vendor/css/pages/page-auth.css" />
  <!-- Helpers -->
  <script src="../admassets/vendor/libs/jquery/jquery.js"></script>
  <script src="../admassets/vendor/libs/popper/popper.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  {{!--
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script> --}}
  <script src="../admassets/vendor/js/helpers.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

  <!-- cropper -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.js"></script>

<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
  <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
  <script src="../admassets/js/config.js"></script>
</head>

<body>
  {{#if admin}}
  {{>admin-header}}
  {{/if}}
  {{#if user}}
  {{>user-header}}
  {{/if}}
  {{{body}}}
  <!-- Core JS -->
  <!-- build:js assets/vendor/js/core.js -->



  <script src="../admassets/vendor/js/bootstrap.js"></script>
  <script src="../admassets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
  <script src="../admassets/vendor/js/menu.js"></script>

  <!-- endbuild -->

  <!-- Vendors JS -->
  <script src="../admassets/vendor/libs/apex-charts/apexcharts.js"></script>

  <!-- Main JS -->
  <script src="../admassets/js/main.js"></script>

  <!-- Page JS -->
  <script src="../admassets/js/dashboards-analytics.js"></script>
  <script src='https://cdn.plot.ly/plotly-2.14.0.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script defer src="https://cdn.crop.guide/loader/l.js?c=YCRRMQ"></script>
  <script src="/javascripts/admin.js"></script>
  <script src="/javascripts/validation.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
</body>

</html>