body{
    counter-reset: Serial;           /* Set the Serial counter to 0 */
  }
  
  table{
    border-collapse: collapse;
  }
  
  tr td:first-child:before{
    counter-increment: Serial;      /* Increment the Serial counter */
    content:counter(Serial);        /* Display the counter */
  }