
/* Set the Serial counter to 0  table indexxxx*/
/* 
body{
    counter-reset: Serial;           
  }
  
  table{
    border-collapse: collapse;
  }
   
  tr td:first-child:before{
    counter-increment: Serial;      
    content:counter(Serial);       
  }  */